.odd {
    background: rgb(247,143,150);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#big-one {
    font-size: 36px;
    color: blue;
}

.adjust-size {
    font-size: 24px;
}

#dark-one {
    background: greenyellow;
    font-weight: bold;
}